
<div class="pages">
  <!-- if ($page && $page != 1) { -->
    <a href="index.php"><img src="./images/first.svg"></a>
    <a href="index.php?page=<?echo $page - 1-->"><img src="./images/previous.svg"></a>
  <!-- } else { -->
    <a href="#"><img src="./images/first.svg"></a>
    <a href="#"><img src="./images/previous.svg"></a>
  <!-- } -->
  <p>頁碼： <!-- echo $page --> / <!-- echo $totalPage --></p>
  <!-- if ($page && $page != $totalPage) { -->
    <a href="index.php?page=<?echo $page + 1-->"><img src="./images/next.svg"></a>
    <a href="index.php?page=<?echo $totalPage-->"><img src="./images/last.svg"></a>
  <!-- } else { -->
    <a href="#"><img src="./images/next.svg"></a>
    <a href="#"><img src="./images/last.svg"></a>
  <? } -->
</div>